<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>
.tileDiv{
    text-align:center
}
.categoryTitle{
    display:inline-block;
    float:left
}
.percentage{
    display:inline-block;
    float:Right
}
.topHeader{
    height:40px;
    width:60%;
    margin:auto
}
.topBar{
    width:90%;
    margin:auto
}