<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>#pgGallery{
    list-style-type: none;
    height: 77%;
    margin: 0 auto;
    z-index: 100000000;
    top: 0;
    overflow-y: auto;
    position: relative;
    background: #fff;
    padding-top: 50px;
}
.photosList{
    list-style-type: none;
    display:inline;
    width:33.3%;
    height:200px;
}
.photoList{
    width:33.3%;
}
.photoDiv{
    
}