<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>
.tileDiv{
    text-align:center;
    color: #8d8c91;
}
.myScore{
    font-size:20px;
}
.score{
    font-weight: bold;
}
.myDonutContainer{
    width: 300px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}
.topTitle {
    font-size: 25px;
    color: #000;
}
.tpRow{
    overflow:hidden;
}
.categoryTitle{
    display:inline-block;
    float:left;
    line-height: 30px;
}
.percentage{
    display:inline-block;
    float:Right
}
.topHeader{
    height:40px;
    width:60%;
    margin:auto
}
.catPC {
    font-size: 20px;
    color: #dc143b;
}
.topBar{
    width:90%;
    margin:auto
}
#clearDiv{
    height:30px;
}
#topBars1, #topBars2, #topBars3 {
    height : 25px;
    border: 1px #8d8c91 solid;
    border-radius:10px;
}
@media only screen and (min-width: 400px) {
    .landContainer{
        margin-top:20%;
    }
    #clearDiv{
        height:70px;
    }
}