<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>#pgGallery, .fmCodePopUp {
    width: 100%;
    height: 100%; 
}
#pgGallery {
    z-index: 100000000;
    top: 0;
    overflow: hidden;
    position: absolute;
    background: #fff;
}
