<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file>/*!------QRCode Pop up styling------*/

#pgQRCodeResolved {
    z-index: 100000000;
    top: 0;
  overflow:hidden;
    position: absolute;
    background: #fff;
     width: 100%;
    height: 100%;
}
#pgQRCodeResolved .qrCodePopUp {
    width: 100%;
    height: 100%;
}
.qrCodeWrapper{
    width: 100%;
    height: 90%;
    overflow-y:auto;
}
.qrClosePopupBar {
    height: 30px;
    width: 100%;
    position: relative;
    

}
.qrCodePopUpTitleText{
    color: #dc143c;
    text-align:center;
    font-size:20px;
    width:100%;
    height:35px;
     border-bottom:1px solid lightgrey;

}
.qrClosePopupIcon {
    
    height: 20px;
    width: 30px;
    background: url('close.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: Right;
}
.qrCodeImageBar,
.qrApproval {
    position: relative;
    padding-top: 5%;
   
    width: 70%;
    display: block;
     margin-left: auto;
    margin-right: auto;
}
.qrCodeIcon {
    height: 100px;
    width: 100px;
    background: url('priceBG.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100px;
    font-size:20px;
    color:#fff;
}
.qrCodeTextBar {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.qrCodeText p{
    font-size: 15px;
     color:lightgrey;
}
 
.qrCodeText,
.qrApprovalButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    color:black;
    
  
}

.qrApprovalButton {
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    color:white;
    font-size: 20px;
    text-align: center;
    position: relative;
    background: #dc143c;
   
}
.qrPhotoDiv{
    margin-top:5%;
}
.qrCodePhotoText p{
    font-size:15px;
}

.qrCodeTakePhoto{
    height: 100px;
    width: 100px;
    background: url('cameraOff.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100px;
    font-size:20px;
    color:#fff;

}
.qrCodeTakePhoto:active{
    background: url('cameraOn.png');
    height: 100px;
    width: 100px;
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.qrEuro {
    width: 100%;
    height: 10px;
    top: -20px;
    position: absolute;
}

.iconAmount {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 5px;
}
/*!------QRCode Pop up styling------*/