<go:file devused="True,True,True,True" xmlns:go='http://www.globoplc.com'></go:file> #pgbdCodeResolved {
    z-index: 100000000;
    top: 0;
  overflow:hidden;
    position: absolute;
    background: #fff;
}
#pgbdCodeResolved,
.bdCodePopUp {
    width: 100%;
    height: 100%;
}
.bdCodeWrapper{
    width: 100%;
    height: 90%;
    overflow-y:auto;
}
.bdClosePopupBar {
    height: 30px;
    width: 100%;
    position: relative;
    padding: 10px;

}
.bdCodePopUpTitleText{
    color: #dc143c;
    text-align:center;
    font-size:20px;
    width:100%;
    height:35px;
     border-bottom:1px solid lightgrey;

}
.bdClosePopupIcon {
    
    height: 20px;
    width: 30px;
    background: url('close.png');
    background-size: contain;
    background-repeat: no-repeat;
    float: Right;
}
.bdCodeImageBar,
.bdApproval {
    position: relative;
    padding-top: 5%;
   
    width: 70%;
    display: block;
     margin-left: auto;
    margin-right: auto;
}
.bdCodeIcon {
    height: 180px;
    width: 150px;
    background: url('priceBG.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100px;
    font-size:20px;
    color:#fff;
}
.bdCodeTextBar {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.qrCodeText p{
    font-size: 15px;
     color:lightgrey;
}
 
.bdCodeText,
.bdApprovalButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    color:black;
    
  
}

.bdApprovalButton {
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    color:white;
    font-size: 20px;
    text-align: center;
    position: relative;
    background: #dc143c;
   
}
.bdPhotoDiv{
    margin-top:5%;
}
.bdCodePhotoText p{
    font-size:15px;
}

.bdCodeTakePhoto{
    height: 100px;
    width: 100px;
    background: url('cameraOff.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100px;
    font-size:20px;
    color:#fff;

}
.bdCodeTakePhoto:active{
    background: url('cameraOn.png');
    height: 100px;
    width: 100px;
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/*!------QRCode Pop up styling------*/